a {
    color: red;
  }
  
  div {
    border: 1px solid green;
    color: green;
    font-family: sans-serif;
  }
  div a {
      color: green;
  }
  h1 {
    color: red;
  }
  #exec-bio {
    background-color: black;
  }
  .bio-box {
    border: 1px solid black;
    width: 200px;
    float: center;
    padding: 2%;
    width: 25%;
  }
  .cool {
    background: lightblue;
  }
  .alert {
    background: orange;
  }
  .warp {
    background: green;
  }
