/* GLOBAL STYLES */
h1 {
  font-size: 7vw;
  font-family: Arial;
  margin-top: 0;
}
a {
  color: #f00;
}

/* HERO STYLES */
.full-hero {
  /* background-color: #aaa; /* #c7dbfc; */
  height: 50vh;
  background-image: url("test.jpg");
  background-position: center;
}

/* SOCIAL STYLES */
.social-link {
  background: rgba(150, 150, 150, 0.5);
  color: blue;
  display: inline-block;
  height: 36px;
}
/* Animation Experiments */
.badge-container .badge {
  width: 120px;
  height: 130px;
  box-sizing: border-box;
  overflow: hidden;
  /* transform: translatey(0px); */
  /* transform: translatex(0px); */
  /* animation: float 3s ease-in-out infinite; */
  animation: float 5s forwards infinite;
}

.badge-container .badge img {
  width: 90%;
  height: auto;
}

/* BIO STYLES */
.bio-wrapper {
  font-size: 24px;
  font-family: Arial;
  height: 300px;
  overflow: scroll;
}
.bio-box {
  border: 1px solid black;
  background-color: gray;
  float: left;
  font-size: 1rem;
  padding: 2%;
  width: 25%;
}
.bio-box-focus {
  background-color: gold;
}
.bio-box h3 {
  font-size: 1.5em;
}
.bio-copy {
  font-size: 1em;
}
.bio-copy a {
  color: orange;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}